[2019-08-12 23:40] dylanmcreynolds opened #1 "test"

[2019-08-13 21:42] dylanmcreynolds commented on #1
Here's a new comment

[2019-08-13 21:55] dylanmcreynolds opened #2 "Pilot, Xi-CAM and timing of intake-bluesky"
For integrating Xi-CAM to Bluesky, a question comes up about whether to integrate directly to Databroker or to intake-bluesky (or both?) for getting data back from Bluesky. Is there a known timing for the intake-bluesky project to be usable for the pilot?

[2019-08-13 22:26] ronpandolfi commented on #2
@dylanmcreynolds I think the question as posed in earlier discussion is if (when?) intake-bluesky allows accessing data from databroker instances already deployed at NSLS-II (from old-style DB).

After thinking about this a bit more, I suspect the answer is yes. Since both utilize `event-model` for structuring their event-model data, and the 'serialization' of that to mongo is simple, I expect tha

[2019-08-13 23:25] danielballan commented on #2
Yes, that is the right question. I would add that if we focus on _interfaces that consume a stream of documents_, those will generalize to what `databroker` is today, the soon-to-land databroker-on-intake rewrite of `databroker`, and documents coming from the live data acquisition, and ingested files. The part of the code that has to deal with specific details of each of these access modes should

[2019-08-14 20:48] dylanmcreynolds opened #3 "ERCAP proposal for the Pilot (3 month) (ALCF and OLCF)"

[2019-08-14 20:48] dylanmcreynolds opened #4 "Decide on a suggested authentication architecture"

[2019-08-14 20:49] dylanmcreynolds opened #5 "Agree on common description of the ROI"

[2019-08-14 20:49] dylanmcreynolds opened #6 "Agree on a common data keys description"

[2019-08-14 20:49] dylanmcreynolds opened #7 "Define common description of the data analysis"

[2019-08-14 20:50] dylanmcreynolds opened #8 "Multi parameter vis for analysis"

[2019-08-14 20:50] dylanmcreynolds opened #9 "Common analysis library across facilities."

[2019-08-14 20:50] dylanmcreynolds opened #10 "XPCS Simulator"

[2019-08-14 20:51] dylanmcreynolds opened #11 "Developing realistic detector simulation"

[2019-08-14 20:51] dylanmcreynolds opened #12 "Develop simulated beamline for integration testing"

[2019-08-14 20:52] dylanmcreynolds opened #13 "Develop system tests for running on real hardware"

[2019-08-14 20:53] dylanmcreynolds opened #14 "connect xi-cam ↔ intake"
Related to this: https://github.com/lightsources/project-management/issues/2

[2019-08-14 20:54] dylanmcreynolds opened #15 "look at how to do RE-as-a-service"

[2019-08-14 20:54] dylanmcreynolds opened #16 "make progress on the RE control layer"

[2019-08-14 20:55] dylanmcreynolds opened #17 "bluesky running at the ALS tomography beamline"
Will interact with Kevan Anderson at ALS.

[2019-08-14 20:56] dylanmcreynolds opened #18 "show need of auth on a working databroker"

[2019-08-14 20:58] dylanmcreynolds commented on #18
Bjoern and Maksim/Leo to coordinate.

[2019-08-14 20:58] dylanmcreynolds opened #19 "Ophyd object wrapping the simulator"
Maksim

[2019-08-14 20:59] dylanmcreynolds opened #20 "Survey for list of supported detectors, beamline geometry, input parameters"

[2019-08-14 21:00] dylanmcreynolds opened #21 "Ptychography - GUI for processing and visualization"
biweekly meetings with BL staff/users and biweekly meetings for developers

[2019-08-14 21:01] dylanmcreynolds opened #22 "PyDM - Identify common devices that need Qt templates"

[2019-08-14 21:01] dylanmcreynolds opened #23 "Move mily to a shared Github organization"

[2019-08-14 21:02] dylanmcreynolds opened #24 "Investigate happi as an option for device storage under Xi-CAM"

[2019-08-14 21:02] dylanmcreynolds opened #25 "Separate standard Qt pieces of PyDM for easier import into other applications"

[2019-08-14 21:02] dylanmcreynolds opened #26 "Finalize standard device templates"

[2019-08-14 21:03] dylanmcreynolds opened #27 "Gather all source code for each of these processes in the workflow"

[2019-08-14 21:04] dylanmcreynolds opened #28 "Infrastructure to move data"
(scans/datasets, ensembles, or in situ) into computing facilities - Start with files

[2019-08-14 21:04] dylanmcreynolds opened #29 "Investigate Realtime/High priority Queues, Burst job"
Action item for LCFs is to give us a set of expectations / metrics

[2019-08-14 21:05] dylanmcreynolds opened #30 "Wrokflow Feedback"
Post processing? Real time feedback?

[2019-08-14 21:16] #1 closed

[2019-08-14 22:01] ahexemer opened #31 "Running Xi-CAM at CSX"

[2019-08-14 22:38] ahexemer commented on #31
Moved this to label...closing.

[2019-08-14 22:38] #31 closed

[2019-08-14 23:37] ahexemer commented on #30
Test

[2019-08-15 15:53] dylanmcreynolds opened #32 "Deploy XPCS at CSX Beamline"
Super issue to track dependencies for the deployment of CSX.

[2019-08-15 15:56] dylanmcreynolds opened #33 "xpcs"

[2019-08-15 15:58] #33 closed

[2019-08-15 16:33] ronpandolfi opened #34 "Add pip install support to pydm/typhon"

[2019-08-15 16:33] ronpandolfi opened #35 "Add pip install support to scikit-beam"

[2019-08-15 17:17] #32 closed

[2019-08-15 17:17] dylanmcreynolds opened #36 "XPCS at CSX Phase 1"
The minimum requirement to do a near-real-time analysis of data coming off the CSX beamline

[2019-08-19 22:53] dylanmcreynolds opened #37 "XPCS at CSX Beamline"

[2019-08-20 22:48] dylanmcreynolds opened #38 "Display image in Xi-CAM in q-space"

[2019-08-20 22:50] dylanmcreynolds opened #39 "Xi-CAM Data reduction"

[2019-08-20 22:50] dylanmcreynolds opened #40 "Xi-CAM Masks"

[2019-08-20 22:51] dylanmcreynolds opened #41 "Xi-CAM ROI (simple and fancy)"

[2019-08-20 22:52] dylanmcreynolds opened #42 "Xi-CAM Q-integration"

[2019-08-20 22:53] dylanmcreynolds opened #43 "Deploy One Time Correlation"

[2019-08-20 22:54] dylanmcreynolds opened #44 "Deploy Time Time Correlation"

[2019-08-20 22:54] dylanmcreynolds opened #45 "X-CAM Save Workflow Template"

[2019-08-20 22:56] dylanmcreynolds commented on #37
This is a duplicate

[2019-08-20 23:00] dylanmcreynolds opened #46 "Pilot will provide ontology for XPCS data and analysis"

[2019-08-20 23:01] dylanmcreynolds commented on #46
Will assign this to QZ

[2019-08-20 23:15] dylanmcreynolds commented on #39
Flat field if applicable
Dark frames (hot pixels)
Background subtraction

[2019-08-20 23:53] ahexemer opened #47 "XPCS Deployment at COSMIC v1"

[2019-08-20 23:54] dylanmcreynolds opened #48 "XPCS at CSX Phase 2"

[2019-08-21 00:00] ahexemer opened #49 "XPCS at CSX Phase 3"

[2019-08-21 20:22] dylanmcreynolds opened #50 "Save Processed Data from Xi-CAM via Suitcase"

[2019-08-21 20:24] dylanmcreynolds opened #51 "Save and load workflow from file using Xi-CAM"

[2019-08-21 23:49] teddyrendahl commented on #34
`PyDM` is on PyPI.

Typhon is pip installable, we now test installing it this way on our CI
https://github.com/pcdshub/typhon/blob/e595fb2dc015f396523b1357c8d5ab84e0b53bb7/.travis.yml#L66

Unfortunately, there is already a project called `typhon` on PyPI. It appears to be pretty actively developed so I doubt they are willing to give it up.

[2019-08-22 00:56] mrakitin commented on #34
I have a few suggestions for the PyPI name:
- `t4n` (`k8s` style)
- `ty4n`
- `'typhon'[::-1]` (should be interpreted)

[2019-08-23 17:25] dylanmcreynolds opened #52 "scikit-beam and pypi"
There is some work to do to get scikit-beam to install on pypi.

[2019-08-23 17:34] mrakitin commented on #52
The package is tagged on GitHub, but I don't seem to have rights to push to PyPI. Asked @danielballan to add me to the list of maintainers, so I can push the latest (and missing) versions.

Please note, it's a source distribution (`sdist`) only for now, meaning the compilation will be needed during the installation step. We can enable the integration with Azure Pipelines/TravisCI later to produce

[2019-08-26 23:27] dylanmcreynolds commented on #14
We really want do write this plugin based on the enhancements to xi-cam plugins listed here: https://github.com/synchrotrons/Xi-cam.plugins/issues/8

[2019-08-27 18:06] dylanmcreynolds opened #53 "Merge XPCS and SAXS Xi-CAM plugins into single Scattering plugin"
Naming of new plugin TBD.

[2019-08-27 18:24] dylanmcreynolds opened #54 "Threshold and timeline for automatically eliminating frames"
Create a mechanism in both xi-cam and workflow to allow setting of intensity thresholds to automatically throughout bad frames.

[2019-08-27 18:29] dylanmcreynolds opened #55 "Allow window geometry when Xi-CAM closes gracefully"

[2019-08-27 18:34] dylanmcreynolds opened #56 "Encapsulate visualization intent in workflow hint system"

[2019-08-30 14:41] danielballan commented on #10
I see two aspects to this, tracked in two issues in scikit-beam/autocorr:

- analytical simulations, where we simulate the I(t) directly https://github.com/scikit-beam/autocorr/issues/4
- numerical simulations, where we obtain an I(t) from a particle dynamics simulation https://github.com/scikit-beam/autocorr/issues/3

[2019-08-30 14:43] danielballan commented on #5
It may be that different representations make sense in different regimes: dense vs sparse, overlapping vs nonoverlapping. Let's agree on the minimal _set_ of representations we need and build simple functions for converting between them when needed.

[2019-08-30 14:48] danielballan commented on #2
Revisiting the original post:

Integrate directly with databroker 1.0.0, using the `databroker.v2` interface. If we run into things that v2 cannot do that were possible with the v0/v1 interface, we can access those from the same library. Now that 1.0.0a1 has been released, I think we can close this issue and begin work on #4. Agree?

[2019-08-30 15:07] danielballan commented on #52
@mrakitin has been granted access on PyPI and has updated the published releases there. I think this addresses the immediate need. I propose that we close this an open a separate issue on the scikit-beam repo to track adding wheels on all platforms.

[2019-08-30 15:12] mrakitin commented on #52
That sounds reasonable to me.

[2019-08-30 16:32] ihumphrey opened #57 "use fabio to load images into runcatalog"

[2019-08-30 16:42] dylanmcreynolds commented on #2
Agreed. This can be closed. For my part, I will continue to work on https://github.com/lightsources/project-management/issues/14 and switch over to using the Databroker repo rather than the intake-bluesky repo.

[2019-08-30 16:42] #2 closed

[2019-08-30 22:15] mrakitin commented on #52
Tracked now via https://github.com/scikit-beam/scikit-beam/issues/555.

[2019-08-30 22:15] #52 closed

[2019-08-31 06:02] qzhang234 commented on #46
@ahexemer @dylanmcreynolds Is this the place where I upload the file for XPCS ontology?

[2019-09-03 12:38] danielballan commented on #57
The pattern established by https://github.com/bluesky/databroker/blob/master/databroker/_drivers/jsonl.py and https://github.com/bluesky/databroker/blob/master/databroker/_drivers/msgpack.py is intended for use cases like this. I hope it is a good fit. If you find that it is not, please speak up so we can revisit the design.

[2019-09-03 12:40] danielballan commented on #50
The next action here, I believe, is to encapsulate the processed data in a document stream. Then any suitcase may be used to serialize it.

[2019-09-03 14:33] danielballan opened #58 "Decide on long-term plan for code in bluesky-browser."
To summarize the current thinking on our side:

Bluesky currently ships with visualization helpers such as `LivePlot` and `LiveGrid`. Leveraging matplotlib's "backend" abstraction, we use them on the dekstop with the Qt backend and in Jupyter with the ipywidgets integration. Bluesky needs a second generation of these helpers that are more flexible, modular, configurable. The [`Line`](https://githu

[2019-09-03 16:52] dylanmcreynolds commented on #46
@qzhang234 Probably not, there aren't ways to upload files, and issues are relatively short-lived. How about a Google Doc or Dropbox doc for now, and then we'll put the link into this issue? I can start a Google doc if you want.

[2019-09-03 17:12] dylanmcreynolds opened #59 "XPCS at APS 8-ID-I Phase 1"

[2019-09-03 17:13] ahexemer commented on #3
https://www.nersc.gov/users/accounts/allocations/request-form/

[2019-09-03 17:17] ahexemer commented on #3
https://www.nersc.gov/users/accounts/allocations/request-form/

October 15th

[2019-09-03 17:42] dylanmcreynolds commented on #3
There is nobody assigned to this task. Who is the party or parties to take this on?

[2019-09-04 18:20] stuartcampbell commented on #3
ERCAP is specific to NERSC.  Should the OLCF and ALCF proposals be broken out into separate issues?  Also, for the Leadership facilities (OLCF/ALCF) do we want to go through the general route, or try and get director's discretionary time or something similar?

[2019-09-06 05:09] HarinarayanKrishnan commented on #3
I second this idea of having separate issues (one for each computing facility) and creating a high level EPIC to bins them all.

In addition to looking into Directors Discretion time, applying for INCITE or ALCC may also be options to investigate.

https://science.osti.gov/ascr/Facilities/Accessing-ASCR-Facilities/ALCC
OLCF: https://www.olcf.ornl.gov/tag/alcc/
ALCF: https://www.alcf.anl.gov/progra

[2019-09-06 16:19] dylanmcreynolds opened #60 "ALCF Proposals"

[2019-09-06 16:19] dylanmcreynolds opened #61 "OCLF Proposals"

[2019-09-06 16:19] dylanmcreynolds opened #62 "HPC Proposals"
An Epic to track all issues related to applying for HPC funding opportunities across HPC facilities.

[2019-09-06 16:21] dylanmcreynolds commented on #61
https://www.olcf.ornl.gov/tag/alcc/

 https://www.olcf.ornl.gov/for-users/getting-started/

[2019-09-06 16:21] dylanmcreynolds commented on #60
https://www.alcf.anl.gov/program/alcc

https://www.alcf.anl.gov/programs

[2019-09-06 16:23] dylanmcreynolds commented on #3
I have created an Epic for HPC proposal submissions and split out OLCF and ALCF into separate issues:
https://github.com/lightsources/project-management/issues/60
https://github.com/lightsources/project-management/issues/61

[2019-09-06 17:06] danielballan commented on #58
Notes from call

There are "artists"

[code]

and "hints interpreters" and that can work any artist implementation

[code]

Split by dependency:
[code]

1. Split bluesky-browser into subpackages, isolating mpl, qt, js (to be
written). The hints-parsing should be usable with no vis/GUI dep.
2. Split "left side" into a subpackage and make intake an optional dep as well.
3. Consider splitting into se

[2019-09-06 17:32] dylanmcreynolds commented on #46
QZ provided word document, will add to an issue in the the autocorr project.

[2019-09-06 17:42] stuartcampbell commented on #3
Thank you, you just beat me to it 😄

[2019-09-06 17:44] stuartcampbell commented on #61
I will reach out to some people in OLCF to see whether INCITE or discretionary time is the best approach.

[2019-09-06 17:46] stuartcampbell commented on #3
@HarinarayanKrishnan should we have a shared document for the justification we will have to write for the 3 centres? As it should be the same?

[2019-09-06 19:36] dyparkinson opened #63 "Tomography at BL832 Phase 1"

[2019-09-07 03:44] HarinarayanKrishnan commented on #3
@stuartcampbell I created a shared folder called Proposals and empty file for brainstorming ideas. A shared document for putting together a justification does makes the most sense.

[2019-09-07 19:35] stuartcampbell commented on #3
Where did you create it ?

[2019-09-08 03:50] HarinarayanKrishnan commented on #3
I sent you an invite to a new team drive. We can add anyone that is
interested in participating.

On Sat, Sep 7, 2019 at 12:35 PM Stuart Campbell <notifications@github.com>
wrote:

[2019-09-13 17:20] dylanmcreynolds commented on #3
We would like to gather information from each lightsource about the tools be used and the workflow steps that they involve. Assigning more folks to this issue to provide Hari with this information. This will assist in the related ALCF and OLCF issues. https://github.com/lightsources/project-management/issues/60 and https://github.com/lightsources/project-management/issues/61

[2019-09-13 17:32] dylanmcreynolds opened #64 "Survey for list of supported detectors, beamline geometry, input parameters for XPCS"

[2019-09-16 16:43] ambarb commented on #64
For input parameters, do we mean what needs to be considered for the XPCS analysis or does it extend to things that we would want to see along sided the analysis (sample temperature, etc)

[2019-09-16 16:45] ambarb commented on #53
What happens to XPCS data for WAXS or have to do SAXS in a non-traditional way (i.e., the CCD field of view is smaller than a full SAXS pattern)?

[2019-09-16 16:49] qzhang234 commented on #64
@ambarb @dylanmcreynolds Same question here

[2019-09-16 17:36] dylanmcreynolds commented on #64
Adding @ronpandolfi and @ihumphrey to this conversation.

[2019-09-16 17:37] dylanmcreynolds commented on #53
Adding @ronpandolfi  and @ihumphrey to this conversation.

[2019-09-20 16:57] dylanmcreynolds commented on #14
Currently, I have a working prototype that copies code straight out of bluesky browser into my plugin. This work is a little on hold as there is discussion about making bluesky browser more of a library that can be split out. If so, I would choose to use that and import a search-for-catalogs set of widgets.

[2019-09-20 17:16] prjemian commented on #59
As noted in https://github.com/aps-8id-trr/ipython-8idiuser/issues/39#issuecomment-533638391, we've already tested the DM workflow from bluesky and then from the linux command line (with the tool that SPEC will use from now on). We need confirmation tests from both SPEC and bluesky that both are ready to use the APS Data Management tools with our final edit of the shared tools to initiate that wor

[2019-09-20 17:18] prjemian commented on #59
The instrument works with bluesky now, we'll see what additional bluesky capabilities must be available for initial operations.   For operations with a user, we'll need some more support plans (converted from SPEC macros).

[2019-10-04 23:57] dylanmcreynolds opened #65 "xicam startup and cammart"

[2019-10-04 23:58] dylanmcreynolds commented on #65
https://github.com/synchrotrons/Xi-cam.core/issues/7

[2019-10-04 23:58] dylanmcreynolds opened #66 "Conda Packages for Xi-cam"

[2019-10-05 00:01] dylanmcreynolds commented on #66
NSLS-II prefers to use conda streams to distribute software on beamline computer. So xi-cam packages will be created.

xicam base stream
- xicam
- xicam.core
- xicam.gui
- xicam.plugin

plugin stream
- xicam.saxs/xpcs (name?)

[2019-10-05 00:03] dylanmcreynolds opened #67 "Add fields to start document to databroker for xpcs"

[2019-10-05 00:05] dylanmcreynolds commented on #67
This task has two parts. Group will define extra fields available to use in start documents. These fields will be approximately:
{"experiment":
   [
       ["tomography", {"mode": "scanning"},
        {"projections": ["primary", "fastccd"], "sinograms": ["sinograms", "data"], "angles": ["primary", "theta"]}
        ],
        ["scattering", {"mode": "transmission"}, {"scattering_detector" : ["prim

[2019-10-05 13:05] mrakitin commented on #66
It is indeed a high priority for us to distribute the software seamlessly using conda to the beamlines which want to use it.

[2019-10-05 20:55] tacaswell commented on #66
@jklynch has started to look at this.

[2019-10-07 15:24] dylanmcreynolds commented on #66
I sent an invite to @jklynch to join this org.

[2019-10-11 17:00] dylanmcreynolds commented on #14
Created a PR with the first version of this code:  https://github.com/synchrotrons/Xi-cam.gui/pull/23

[2019-10-11 17:13] dylanmcreynolds commented on #14
Waiting for XPCS catalogs from NSLS-II so that we can test handing real data to the XPCS/SAXS plugin.

[2019-10-11 17:16] dylanmcreynolds commented on #53
@ihumphrey  Is this done or in a PR?

[2019-10-11 17:17] dylanmcreynolds commented on #51
Duplicate of 45

[2019-10-11 17:17] #51 closed

[2019-10-11 17:18] prjemian commented on #59
Instrument is ready for operations with the new Rigaku detector.  The lambda has [one outstanding issue](https://github.com/aps-8id-trr/ipython-8idiuser/issues/74) that blocks us using it.  We're working on that now.

[2019-10-11 17:18] prjemian commented on #59
Also, APS had a brief, unexpected shutdown this week.  We just have beam restored today.

![Clipboard01](https://user-images.githubusercontent.com/2279984/66671288-42c82680-ec21-11e9-8447-787449d88927.jpg)

[2019-10-11 17:19] dylanmcreynolds commented on #66
I invited @jklynch to join this org, but he's not there yet. Assigned to @mrakitin .

[2019-10-11 17:21] prjemian commented on #59
Also, one payoff from the bluesky effort is that the data management workflow tools can also be called from SPEC more efficiently using part of the bluesky code base.  The instrument is *very* happy about that!

I'll tick off the third checkbox, that instrument is ready for operations.

[2019-10-11 17:25] ahexemer commented on #59
Hi
Our lab entire is still closed due to PG&E shutting down power.
Cheers,
Alex

[2019-10-11 17:27] dylanmcreynolds commented on #35
Work is complete, Ron tested.

[2019-10-11 17:28] prjemian commented on #59
On the Phase 1 goals for the software stack, there is an item marked *Allow for data reduction and analysis using Xi-CAM* and this will be a challenge for us to reach since we have not yet begun to use Xi-CAM for our workflow.

[2019-10-11 17:39] ronpandolfi commented on #35
The correlation modules need `scikit-image` added to requirements
https://github.com/scikit-beam/scikit-beam/issues/556

[2019-10-11 17:44] dylanmcreynolds commented on #35
This isn't assigned to anyone. Who is working on it?

[2019-10-11 20:10] mrakitin commented on #35
I was working on that, but without an assignment. Let me fix https://github.com/scikit-beam/scikit-beam/pull/554 and then I'll take care of the missing dep (https://github.com/scikit-beam/scikit-beam/issues/556).

[2019-10-14 18:26] ronpandolfi opened #68 "QSpace Conversion (WAXS)"

[2019-10-14 18:28] ronpandolfi commented on #68
In progress at:
- xicam.gui: https://github.com/synchrotrons/Xi-cam.gui/tree/qspace_conversion
- xicam.saxs: https://github.com/synchrotrons/Xi-cam.SAXS/tree/qspace_conversion

[2019-10-15 21:43] ambarb commented on #41
Hi.  Andi from NSLS-ii here

[2019-10-23 16:41] ronpandolfi opened #69 "Implement ROIs in SAXS"

[2019-10-29 18:26] dylanmcreynolds commented on #55
https://github.com/synchrotrons/Xi-cam.gui/issues/25

[2019-10-31 16:32] #65 closed

[2019-10-31 16:33] #38 closed

[2019-10-31 17:53] dylanmcreynolds commented on #39
Andi is looking into giving us access to csx tools repository where their algorithms for doing these with their data streams live. May remove this from from phase 1 epic.

[2019-10-31 17:54] dylanmcreynolds commented on #40
Consider removing this from Phase1 CSX. If we get complex ROIs, we might not need masking.

[2019-10-31 18:00] dylanmcreynolds commented on #54
CHX has code that does this. scikit beam now skips a bad frame, putting NaN in the ROI, throwing out a few does not always matter.

Remove from Phase 1 epic

[2019-10-31 18:06] leofang commented on #21
@stuartcampbell asked me to document my efforts. Sorry I kept forgetting...Here it is.

@mrakitin and I are working on the ptychography front line:
- deployed and offering support for BNL ptychography software (frontend: https://github.com/NSLS-II/ptycho_gui) at CSX
- participated in the CSX ptychography experiments (led by @wen-hu) to learn their software needs
- fixed a bug in, and distributed a

[2019-10-31 18:08] dylanmcreynolds opened #70 "Provide example of CHX'sCSV of XPCS output format"

[2019-10-31 18:26] stuartcampbell commented on #66
Hi @jklynch, Any updates or progress?

[2019-11-01 17:11] dylanmcreynolds opened #71 "Dark images as part of run scan"
At CSX currently, getting dark frame involves looking for previous runs where the dark was collected. Dan mentioned that at CSX, there has been talk about updating their streams so that a dark frame comes with every run. This would be very helpful for the Phase1 demo.

[2019-11-03 18:41] ambarb commented on #39
https://github.com/NSLS-II-CSX/csxtools is the repo for that contains the FastCCD (fccd) image normalization functions.  Automated hooks to find dark images etc are under discussion - long standing issue in the repo.

[2019-11-04 16:49] leofang commented on #39
Just some thoughts since you folks mentioned csxtools. Recently I read the csxtools code for those image processing utilities written in C. I wonder whether the C codes really offer better performance, since those functions can be easily implemented either in pure NumPy, Numba, or Cython + OpenMP. This rewrite is not mission-critical, but might make future code maintenance a bit easier. When I hav

[2019-11-05 20:53] ambarb commented on #39
@leofang great that you want to contribute.  Can you create an issue on https://github.com/NSLS-II-CSX/csxtools/issues ? We can have a discussion with those that developed the original code and any other interested parties.

[2019-11-08 19:15] ronpandolfi opened #72 "~Smooth~ operation with databroker"
After the November test deployment, this will track issues related to performance and quality of integration with databroker.

[2019-11-08 19:16] ronpandolfi commented on #72
Affected by https://github.com/bluesky/databroker/issues/467

[2019-11-08 19:36] ronpandolfi opened #73 "Resolve bi-directional dependecies"
As pointed out by @jklynch and @tacaswell , bi-directional dependencies exist in xi-cam.core and xi-cam.plugins. Besides making us more susceptible to circular import issues, this also make packaging with conda more difficult.

[2019-11-09 01:51] mrakitin commented on #73
I'd like to clarify that the packaging itself with conda is not difficult in this case. It's the testing (optional, but highly preferred) bit of the packaging which is failing when attempting to import a package which tries to import a sibling package not declared as a dependency.

[2019-11-11 05:53] prjemian commented on #59
We worked around the [Lambda detector issue previously described](https://github.com/lightsources/project-management/issues/59#issuecomment-541150349) and have assembled all the parts for a one-day operation test 2019-11-23..  On track for Phase 1 milestone.

[2019-11-13 16:54] dylanmcreynolds opened #74 "Allow user to configure which columns are displayed"
Feedback from @ambarb about the display of runs in Xi-Cam/bluesky-browser. Different users will want to see different columns in the run selection in order to help them identify which run to look at. The desired list of columns will change from user to user.

One idea that sounds worth pursing is to create a UI that allows the user to select from a list of columns (similar to Windows Explorer.)

C

[2019-11-13 22:37] mrakitin opened #75 "Enable Python 3.8 in CIs"
We encountered it in https://github.com/bluesky/databroker/pull/465#issuecomment-553623714, worth to do it for all core packages.

cc @danielballan

[2019-11-15 19:02] dylanmcreynolds opened #76 "Test integration of codes from CSX meeting with Xi-Cam"
Much coding was done and many branches were updated at NSLS-II this week. We'd like to perform a test to make sure that X-Cam is still running well with the code.

[2019-11-22 16:56] dylanmcreynolds commented on #66
I think this is done, yes @jklynch @mrakitin ? There might be ongoing bits and pieces? If so, can you close it?

[2019-11-22 16:58] dylanmcreynolds commented on #14
I am going to close this. The work has been completed. There may be further enhancements/issues, but they will be reported separately.

[2019-11-22 16:58] #14 closed

[2019-11-22 17:01] dylanmcreynolds commented on #61
@stuartcampbell  is this still ongoing?

[2019-11-22 17:02] dylanmcreynolds commented on #53
Work is being done here: https://github.com/synchrotrons/Xi-cam.SAXS/tree/merge-xpcs-new

[2019-11-22 17:04] dylanmcreynolds commented on #60
Is this ongoing, @stuartcampbell @HarinarayanKrishnan ?

[2019-11-22 17:04] dylanmcreynolds commented on #41
@ronpandolfi  can this be closed or is it ongoing?

[2019-11-22 17:27] dylanmcreynolds commented on #70
Andi, I think we talked about this a few weeks ago. Is this still on your radar?

[2019-11-22 17:34] dylanmcreynolds commented on #6
This item was made during the pilot kickoff meeting. I think there has been a fair amount of work thus far. But this is a pretty big issue, especially for deploying at CSX and 8-ID-I. Let's discuss this one at today's pilot meeting.

[2019-11-22 18:08] #66 closed

[2019-11-22 18:18] stuartcampbell commented on #60
I haven't done anything related to the ALCF yet.

[2019-11-22 18:19] stuartcampbell commented on #61
I spoke to Jack Wells at SC19 about this.  He wants to see a clear use case and that we would actually use it.   I said I would continue discussions with him after SC and he would put me into contact with the people at OLCF that could help out.

[2019-11-22 19:00] mrakitin commented on #66
Yes, the packages' feedstocks are available in https://github.com/nsls-ii-forge (search for `xicam`), and the core packages have been built and available in the (`nsls2forge`)[https://anaconda.org/nsls2forge/repo] conda channel. The maintenance burden can be shared between the teams (@ihumphrey submitted a few PRs to the feedstock repos already when the new versions had been released).

[2019-11-22 19:14] dylanmcreynolds commented on #74
@ambarb Thinking about how to generate the list of available columns for this enhancement. Different experiments might have very different lists of fields. I can imagine a sophisticated column-selection-engine that detects fields as runs come in, or are being currently displayed in the list of runs. But for right now, I think I'd like to improve on the list that is currently hard-coded, adding fie

[2019-11-22 19:47] prjemian commented on #25
[pvview](https://github.com/BCDA-APS/pvview) is an example application using PyDM widgets.  Previously, it used a custom [Qt+EPICS widget set](https://github.com/BCDA-APS/bcdaqwidgets).  Switchover was very easy.  And, this enabled the source code to transition from Py2 to Py3 and Qt4 to Qt5.

[2019-11-22 19:53] prjemian opened #77 "PyDM - Identify widgets needed to translate MEDM screens"
Some existing PyDM widgets will need modifications to represent the capabilities of the [MEDM](https://epics.anl.gov/EpicsDocumentation/ExtensionsManuals/MEDM/MEDM.html) widgets, while some widgets will need to be added to the existing set of PyDM widgets.

[2019-11-22 19:59] prjemian commented on #77
Filed these issues with [PyDM](https://github.com/slaclab/pydm):

* How to scale font size to widget geometry? https://github.com/slaclab/pydm/issues/574
* PyDMByteIndicator: bigEndian ignored in Horizontal orientation: https://github.com/slaclab/pydm/issues/576
* PyDMDrawingPolyline widget: https://github.com/slaclab/pydm/issues/578  -> PR https://github.com/slaclab/pydm/pull/580
* PyDMDrawingIrr

[2019-11-22 20:03] prjemian opened #78 "PyDM - translator from MEDM .adl files"
The APS has developed thousands of screens for [MEDM](https://epics.anl.gov/EpicsDocumentation/ExtensionsManuals/MEDM/MEDM.html) to control and display information from beam lines.  The suite of screens has much content coded into their design, just as a graphical user interface.  The APS sees great value in providing a translator into PyDM's screen format to retain their investment in the screens

[2019-11-22 20:04] prjemian commented on #77
I believe these are all the widgets necessary for the translation of existing screens.

[2019-11-22 20:04] #77 closed

[2019-11-22 20:06] prjemian commented on #78
PyDM will need some changes to handle the variety and capabilities of widgets from MEDM.  A list has been prepared in issue #77.

[2019-11-22 20:54] danielballan commented on #74
* Number of Events (a good proxy for which scan is the "long" one for situations where Duration isn't so helpful)
* Axes

Another detail to keep in mind: the configuration system in bluesky-browser allowed arbitrary user-specified Python code to transform the raw information in the documents into something more human-friendly and useful, such as showing "3 minutes ago" for the start time. It would

[2019-12-03 00:52] ambarb commented on #70
CHX uses csv files to save simple results for readback in notebooks.  An example function is `save_g2_general` in pyCHX, but I cannot find the repo atm.  Let me inquire about that.  I also want to ask back to the group:  Since our meeting with everyone at BNL, I thought we are going with the documents approach so I am not sure how important this item actually is in terms of meeting our objectives

[2019-12-03 16:51] ambarb commented on #70
I should get access in the coming days to CHX's repo.  I will follow up at that time.

[2019-12-03 17:11] dylanmcreynolds commented on #70
@ronpandolfi and @ihumphrey, see the comment from @ambarb  above. How important is getting this output format at this point?

[2019-12-03 19:02] mrakitin commented on #70
Andi, I added your account to the team, so you should be able to have access to https://github.com/NSLS-II/pyCHX.

[2019-12-05 22:20] #44 closed

[2019-12-06 17:21] dylanmcreynolds commented on #74
We have implemented this in this PR https://github.com/synchrotrons/Xi-cam.gui/pull/38.

The current implementation partly addresses the comments about fields. Right now, the list is hard-coded to only a few. If it were opened up to more, we'd have a nice solution for showing/hiding them.

[2019-12-06 17:36] dylanmcreynolds commented on #74
I had marked this done, but un-did it since there are notes about handling more flexible lists of columns here.

[2019-12-06 23:40] ambarb commented on #74
sorry for the late comment.  Not for XPCS, necessarily, but motors would be good (motors in the scan)

for the transient ID, does it display the entire string or just the first 6?

[2019-12-09 13:03] danielballan opened #79 "Extract Qt search UI from bluesky-browser into Xi-cam.gui"
Closed by https://github.com/synchrotrons/Xi-cam.gui/pull/35

[2019-12-09 13:07] danielballan opened #80 "Support delayed access to area detector data"
Closed by https://github.com/bluesky/area-detector-handlers/pull/2

[2019-12-09 13:12] danielballan opened #81 "Support delayed filling in databroker"
This required coordinated changes to event-model in https://github.com/bluesky/event-model/pull/122 and databroker in https://github.com/bluesky/databroker/pull/465.

[2019-12-09 13:14] danielballan opened #82 "Resolve HDF5 access issues."
While we do have a "fix" in https://github.com/bluesky/area-detector-handlers/pull/3 we have been unable to isolate the underlying problem that it is apparently fixing.

[2019-12-09 13:22] danielballan commented on #71
@mrakitin, @jklynch, and I had meeting where we went over the bluesky-darkframes documentation and formed theory about how to apply bluesky-darkframes at CSX.

There is a detail at CSX that we haven't yet encountered at the beamlines where bluesky-darkframes has been applied to so far: they take dark frames over a range of gain settings. There are couple ways we could bundle together these frames

[2019-12-09 13:23] danielballan commented on #71
Oh, and to keep everyone in the loop on where this work stands, @ambarb is currently coordinating with other staff about when would be a good time to configure and test this.

[2019-12-09 13:27] danielballan opened #83 "Factor out bluesky hints-parsing from Best-Effort Callback"
The "hints" feature of bluesky was prototyped in the Best-Effort Callback. We are revisiting and expanding it, with the eye toward connecting to Xi-cam's workflow management. This work was being done in the (now-archived) bluesky-browser; it has been ported into the scoped-down bluesky-mpl package.

[2019-12-09 13:36] danielballan opened #84 "Make autocorr implementations compatible with dask"
Started in https://github.com/scikit-beam/autocorr/pull/12

[2019-12-18 19:06] dylanmcreynolds commented on #71
Is there update on this? If there is something we need to do in xi-cam to use this, we're running short on time.

[2019-12-20 18:37] dylanmcreynolds commented on #71
We talked about getting a run with this new configuration to @ihumphrey  so that we can make changes in xi-cam to use them. Adding Ian as an assignee for that hand-off.

[2019-12-20 18:41] dylanmcreynolds commented on #79
Addressed with https://github.com/synchrotrons/Xi-cam.gui/pull/35

[2019-12-20 18:41] #79 closed

[2019-12-20 18:42] dylanmcreynolds commented on #53
Completed with https://github.com/synchrotrons/Xi-cam.SAXS/pull/7

[2019-12-20 18:42] #53 closed

[2019-12-20 19:09] dylanmcreynolds opened #85 "Make CatalogViewer plugin more general"
CatalogViewer is hard-coded to look for fccd_image. We want to add a dropdown of image fields that can be selected by the user.

Covered in this PR: https://github.com/synchrotrons/Xi-cam.CatalogViewer/pull/3

[2019-12-20 19:14] #85 closed

[2019-12-20 19:17] #43 closed

[2020-01-06 01:24] dylanmcreynolds commented on #71
If we could get that sample run early this week, we could have time to code its use into into xi-cam. Is getting this to us possible, @danielballan ?

[2020-01-06 02:55] dylanmcreynolds commented on #82
This has been fixed, no?

[2020-01-06 03:02] dylanmcreynolds opened #86 "Sample Notebook for CSX Pilot Demo"
The current plan for the demo week at CSX (starting Jan. 14) is to follow a script that goes through XPCS analysis steps. @ambarb proposed preparing a jupyter notebook to use for this purpose. We would use the run through steps of a run in the notebook and in Xi-Cam side-by-side.

If we can get this notebook soon, it will definitely help us prepare before the week of the demo.

[2020-01-06 18:27] dylanmcreynolds opened #87 "Catalog load performance issue"
We have seen issues loading large numbers of catalogs into xi-cam through databroker. This has something to do with dask hashing the entire dictionary in the document stream (which involves lots of sorts in order to canoncialize the dict).

This is being worked on here. https://github.com/bluesky/databroker/pull/483

Dylan will test this PR.

[2020-01-11 00:05] ambarb commented on #70
The CSV file format is very simple.  However, it is more geared towards SAXS and not diffraction so it the CHX version is not broadly implementable.  However, it can handle multiple one time results.  See the code below.

I also noticed that CHX has complicated HDF5 results file option, that is far more powerful than the .csv file.  However, it is not the same at 8ID-I's.

At the moment, I am a li

[2020-01-14 16:54] danielballan opened #88 "Correctly handle opening incomplete runs"
If the RunStop document does not exist yet, databroker should return `None` instead of a document and Xi-cam should accept it.

[2020-01-14 19:52] danielballan commented on #88
Closed by https://github.com/bluesky/databroker/pull/497

[2020-01-14 19:52] #88 closed

[2020-01-21 18:15] dylanmcreynolds commented on #86
Demo completed without the notebook. Closing this issue.

[2020-01-21 18:15] #86 closed

[2020-01-21 18:16] dylanmcreynolds commented on #42
Accidentally closed issue.

[2020-01-21 18:17] dylanmcreynolds commented on #81
These issues were taken care of. Performance at the demo was much improved.

[2020-01-21 18:17] #81 closed

[2020-01-21 18:17] dylanmcreynolds commented on #82
Is this still open?

[2020-01-21 18:19] dylanmcreynolds commented on #71
Work was complete and used for the demo successfully.

[2020-01-21 18:19] #71 closed

[2020-01-21 21:41] mrakitin commented on #82
I think so.

[2020-01-31 15:15] danielballan commented on #82
Sorry I'm late to this party. Cross-posted from bluesky/area-detector-handlers#3, which I have just closed:

Without fully understanding the problem we can't say definitively that it has been resolved, but I think we should close this unless/until it is observed again.

[2020-01-31 15:15] #82 closed

[2020-01-31 15:17] danielballan commented on #87
Recently databroker beta releases have pushed down the load times from ~250ms to ~15ms. This is satisfactory from a usability point of view: catalogs now load faster than you can skim them as you scroll.

[2020-01-31 15:17] #87 closed

[2020-01-31 15:17] #80 closed

[2020-01-31 15:18] danielballan commented on #76
Can we declare victory on this one?

[2020-02-03 17:09] dylanmcreynolds commented on #76
Yes. Yes we can. We still have to work through the issue of exactly where and how the csx-specific code is run, but the overall integration for the demo was a success.

[2020-02-03 17:09] #76 closed

[2020-02-05 17:44] ahexemer opened #89 "Conda install Xi-CAM on mac"
Xi-CAM can be installed using conda and using the NSLS-II forge using:

run:
conda install -c anaconda numpy
conda install xicam

[2020-02-10 17:32] dylanmcreynolds commented on #59
@prjemian @qzhang234  It seems to me that we have accomplished this task, yes?

[2020-02-10 17:39] dylanmcreynolds commented on #35
@mrakitin This issue is closed, yes?

[2020-02-10 18:03] prjemian commented on #59
Issue #46 is still open

On Mon, Feb 10, 2020, 11:32 AM dylanmcreynolds <notifications@github.com>
wrote:

[2020-02-10 18:06] mrakitin commented on #35
I will be ready to answer by our Friday call. I need to re-check.

[2020-02-10 18:41] qzhang234 commented on #59
@prjemian @dylanmcreynolds Issue #46 has been solved with Andi's document to the Data Pilot report. The related problem now is building the Nexus format for XPCS results so I'll regard #46 itself as complete

[2020-02-10 18:43] qzhang234 commented on #59
@prjemian @dylanmcreynolds However currently we are having trouble with running Bluesky & Lambda for more than a few hours. We tried running users with Bluesky and user reported this problem. More details in the issue below:
https://github.com/aps-8id-dys/ipython-8idiuser/issues/146
I believe once this problem is solved we will try deploy Bluesky to the general users

[2020-02-10 18:43] dylanmcreynolds commented on #46
Re-opening. The Pilot XPCS team including @ambarb, @qzhang234 and @JulReinhardt are meeting regularly to work this out.

[2020-02-10 19:06] dylanmcreynolds commented on #59
@prjemian Good point, collecting ontology for xpcs is an on-going thing. I re-opened 46 and assigned it to relevant parties. The question I have is whether this blocks "completion" of epics Phase 1 at 8-ID-I, CSX and COSMIC.

[2020-02-11 15:06] mrakitin commented on #35
Actually, I think it won't be entirely possible to build the package since it has a dependency of xraylib, which is not on PyPI, so it makes a little sense as xraylib is going to be installed from conda anyway, and we have a reliable package for scikit-beam for all 3 platforms there already (https://github.com/nsls-ii-forge/scikit-beam-feedstock). I think this issue can be closed as "won't impleme

[2020-02-11 15:06] #35 closed

[2020-02-11 16:07] prjemian commented on #59
I'm not convinced that the ontology agreement should block Phase I.  A great Phase I outcome is that we have identified such and are working on it (a Phase II goal).

#### short version

We have not yet satisfied the *one-week usage* milestone.

#### long version

As for our Lambda detector, only the recent [problem](https://github.com/lightsources/project-management/issues/59#issuecomment-5842884

[2020-02-19 18:54] dylanmcreynolds opened #90 "XPCS UI Phase 2"

[2020-02-19 18:55] #36 closed

[2020-02-19 18:55] #37 closed

[2020-05-22 17:34] klauer commented on #34
typhos is installable through PyPI now: `pip install typhos pyqt5 && typhos --fake-device ophyd.EpicsMotor[]` worked for me. I think we can close this.

[2020-05-22 17:35] klauer commented on #22
For LCLS, a lot of this will be handled automatically by Typhos, though we will make some custom screens.

[2020-05-22 21:48] ronpandolfi commented on #34
Agreed, thank you all! 👍

[2020-05-22 21:48] #34 closed

[2020-12-16 23:50] ambarb commented on #70
@AbbyGi is creating the nexus file from the save CHX data that is structured like a python dictionary.

@ambarb now committing to make CSX results file as close as possible to CHX results file.